openapi: 3.2.0
info:
  title: Signeasy Originals API
  version: '3.0'
  description: RESTful eSignature API (v3) for the Signeasy contract and signature platform.
  contact:
    name: Signeasy API Support
    url: https://docs.signeasy.com/support
  license:
    name: Proprietary
    url: https://signeasy.com/terms-of-service
servers:
- url: https://api.signeasy.com/v3
  description: Signeasy API v3 (sandbox and live tokens use the same host)
security:
- bearerAuth: []
tags:
- name: Originals
  description: Master documents used to build signature requests.
paths:
  /original/:
    post:
      operationId: uploadOriginal
      tags:
      - Originals
      summary: Upload an original
      description: Upload a master document (up to 40 MB) that can be used to send signature requests.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Original uploaded. Returns the original document id.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token (sandbox or live) passed as a Bearer token in the Authorization header.
