openapi: 3.2.0
info:
  title: Signeasy Templates API
  version: '3.0'
  description: RESTful eSignature API (v3) for the Signeasy contract and signature platform.
  contact:
    name: Signeasy API Support
    url: https://docs.signeasy.com/support
  license:
    name: Proprietary
    url: https://signeasy.com/terms-of-service
servers:
- url: https://api.signeasy.com/v3
  description: Signeasy API v3 (sandbox and live tokens use the same host)
security:
- bearerAuth: []
tags:
- name: Templates
  description: Reusable documents with predefined roles and merge fields.
paths:
  /template/{template_id}:
    put:
      operationId: updateTemplate
      tags:
      - Templates
      summary: Update template
      parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Template updated.
  /template/{template_id}/embed:
    post:
      operationId: fetchEmbeddedTemplateCreateUrl
      tags:
      - Templates
      summary: Fetch embedded template create URL
      description: Get the embedded template-creation link for a template. Load this URL in an iframe so users can create or update templates inside your own app.
      parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Embedded template URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token (sandbox or live) passed as a Bearer token in the Authorization header.
